<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="centered.toggle()"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
      mdbCollapse
      #centered="mdbCollapse"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            style="color: white"
            aria-current="page"
          >
            Acceuil
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'users'"
            routerLinkActive="active-link"
            style="color: white"
            aria-current="page"
          >
            Liste Utilisateurs
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'admins'"
            routerLinkActive="active-link"
            style="color: white"
            aria-current="page"
          >
            Liste administrateurs
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'health-activity'"
            routerLinkActive="active-link"
            style="color: white"
            aria-current="page"
          >
            Health Activities
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'expertPlans'"
            routerLinkActive="active-link"
            style="color: white"
            aria-current="page"
          >
            Liste des Plans pour l'expert
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
